<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <title>Layouts</title>
        <link rel="stylesheet" href="css/float.css">
        <link rel="stylesheet" href="css/flew.css">
        <link rel="stylesheet" href="css/grid.css">


    </head>
    <body>
        <div class="float-content">
            <div class="circulo c1"></div>
            <div class="circulo c2"></div>
            <div class="circulo c3"></div>
        </div>
        <div class="flex-content">
            <div class="circulo c1"></div>
            <div class="circulo c1"></div>
            <div class="circulo c1"></div>
            <div class="circulo c1"></div>
            <div class="circulo c1"></div>
            <div class="circulo c1"></div>
            <div class="circulo c1"></div>
            <div class="circulo c1"></div>
            <div class="circulo c1"></div>
            <div class="circulo c1"></div>

        </div>
        <main class="grid-content">
            <header></header>
            <nav></nav>
            <section></section>
            <div></div>
            <footer></footer>
        </main>
    </body>