*{
    margin: 0px;
    padding: 0px;
}

.circulo{
    width: 80px;
    height: 80px;
    border-radius: 50%;
}
.circulo.c1{
    background-color: brown;
}
.circulo.c2{
    background-color: blueviolet;
}
.circulo.c3{
    background-color: rgb(44, 73, 99);
}
.float-content{
    width: 80vw;
    height: 90vh;
    margin: 5vh auto;
    border: 2px solid rgb(30, 121, 90);
    position: relative;

}
.float-content .c1{
    position: relative;
    top: 0px;
    /* bottom: 0px; */
    left: 100px;
    /* right: 0px; */
}
.float-content .c2{
    position: absolute;
    bottom: 0px;
    right: 0px;

}
.float-content .c2{
    /* position: absolute; */
    position: sticky;
    bottom: 0px;
    right: 0px;

}
.float-content .c2{
    position: absolute;
    bottom: 0px;
    right: 0px;

}

.float-content .c2{
    position: absolute;
    bottom: 0px;
    right: 0px;

}
.float-content .c3{
    position: fixed;
    bottom: 80px;
    right: 80px;
}